@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
  margin: 0;
  padding: 0;
}

html, body {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  line-height: 2;
  height: 100%;
  background-color: rgb(25, 0, 255);
  text-transform: uppercase;
}

.termanal {
  display: block;
  position: absolute;
  color: white;
  text-align: center;
  
}

text {
  text-align: center 
}

ol {
  display: block;
  position: absolute;
  text-align: center 
}

a {
  text-decoration: none;
  color: #fff090;
}

li {
  color: #ffffff;
}

.arrow i {
  display: none;
}

.arrow {
  position:relative;
	display: block;
  color: #ffffff;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow:hover i { 
  display: block;
  position: absolute;
  top: 0.50em; 
  left: -6em;
}


h1::first-letter, h1 span {
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
  50% { color: rgb(255, 255, 255); }
  51% { color: rgba(255, 255, 255, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  50% { color: rgb(255, 255, 255); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}